body {
    background-color: rgb(250, 228, 199);
}

main {
    background-image: url('Images/Game\ Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1, p {
    display: flex;
    justify-content: center;
}

img { 
    height: 35vh;
    width: 22vw;
    z-index: 1;
}

.jordan {
    margin-right: 40vw;
    margin-top: 45vh;
}

.latori {
    margin-top: 20vh;
}

.slider {
    animation: slide 5s infinite;
}

@keyframes slide {
    0% { transform: translateX(0);}
    50% { transform: translateX(-20%);}
    100% { transform: translateX(0);}
}

.character {
    height: auto;
    width: 12vw;
}

.char-sel {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

button {
    background-color: rgb(250, 228, 199);
    border: none;
}

button:hover {
    cursor: pointer;
}

section {
    font-size: 24px;
}